/* h1{
    color:chocolate;
    text-align: center;
}
h2{
    color: black;
    text-align: center;
} */
span{
    color: blueviolet;
    text-decoration:underline ;
    text-align: center;
}
/*selectors*/
/*tagname|id|class*/
/* # is the id selector */

#first{
    color: chocolate;
}

#second{
    color:red;
}

/* danger=red*/
/* success=green */
/* primary=blue */
/* warning=yellow */

.text-danger{
    color: red;
}
.text-success{
    color: green;
}

.text-dec-underline{

    text-decoration: underline;
}